.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  // width: 300px;

  .label {
    margin-bottom: 10px;
  }

  .input {
    margin-left: 20px;
    width: 230px;
  }

  .button {
    width: 300px;
  }
}
