html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid rgb(76, 4, 109);
  border-radius: 3px;
  background-color: rgb(195, 156, 247);
  color: #fff;
}
button:hover {
  background-color: rgb(205, 141, 241);
}
button:focus {
  background-color: rgb(172, 42, 247);
  outline: none;
}
input {
  padding: 5px;
}
